/projects
/transient
/auto-save-list
/eshell
/elpa
/url
/tree-sitter
/request
/eln-cache
.bookmarks.el
.DS_Store
custom.el
bookmarks
savehist
tramp
recentf
recentf.eld
projects.eld
fontaine-latest-state.eld
cursory-latest-state.eld
abbrev_defs
