/straight
/eln-cache
/site-lisp
/projects
/transient
/auto-save-list
/anaconda-mode
/eshell
/elpa
/url
/tree-sitter
.bookmarks.el
.DS_Store
company-statistics-cache.el
custom.el
recentf
bookmarks
fontaine-latest-state.eld
cursory-latest-state.eld
